<footer class="text-center text-md-start w-100" style="background-color: var(--web-main-color)">
  <section class="container d-flex justify-content-between p-4 pt-5 pt-md-2">
    <div class="row mt-5 mt-md-4">
      <div class="col-md-12 mb-md-4 col-lg-5 col-xl-6 mx-auto">
        <div class="logo-footer-div mb-2">
          <img src="./img/logo.jpg" width="120" height="69" />
        </div>
        
        <p align="start">
          Ние предлагаме услуги за евакуация на автомобили и ремонт на пътя в цялата страна. Нашите професионални
          шофьори и екипи осигуряват бърза и надеждна помощ при аварии и други автомобилни проблеми. Свържете се с нас
          24/7 и ще бъдем там, за да ви помогнем.
        </p>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mx-auto">
        <h6 class="text-uppercase fw-bold">Полезно</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 73px; background-color: #7c4dff; height: 2px" />
        <p>
          <i class="fa-solid fa-truck-fast me-2"></i>
          <a href="/about" class="text-dark text-decoration-none">Пътна помощ</a>
        </p>
        <p>
          <i class="fa-solid fa-inbox me-2"></i>
          <a href="#!" class="text-dark text-decoration-none">Репатриране</a>
        </p>
        <p>
          <i class="fa-solid fa-dumpster-fire me-2"></i>
          <a href="#!" class="text-dark  text-decoration-none">Бракуване</a>
        </p>
        <p>
          <i class="fa-solid fa-money-bill me-2"></i>
          <a href="#!" class="text-dark  text-decoration-none">Цени</a>
        </p>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-3 mx-auto">
        <h6 class="text-uppercase fw-bold">Помощен център</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 73px; background-color: #7c4dff; height: 2px" />
        <p>
          <i class="fa-solid fa-question-circle me-2"></i>
          <a href="#!" class="text-dark text-decoration-none">Помощен център</a>
        </p>
        <p>
          <i class="fa-solid fa-envelope me-2"></i>
          <a href="/contact" class="text-dark text-decoration-none">Свържете се с нас</a>
        </p>
        <p>
          <i class="fa-solid fa-file-alt me-2"></i>
          <a href="#!" class="text-dark text-decoration-none">Политика за поверителност</a>
        </p>
        <p>
          <i class="fa-solid fa-file-alt me-2"></i>
          <a href="#!" class="text-dark text-decoration-none">Условия за ползване</a>
        </p>
      </div>
    </div>
  </section>
  <div class="d-flex align-items-center justify-content-center mb-3">
    <a href="#">
      <i class="fab fa-facebook-f fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
    <a href="#">
      <i class="fab fa-twitter fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
    <a href="#">
      <i class="fab fa-linkedin-in fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
    <a href="#">
      <i class="fab fa-youtube fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
    <a href="#">
      <i class="fab fa-tiktok fa-lg mx-2" style="font-size: 23px;color: black;"></i>
    </a>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0)">
    Всички права запазени © 2023 S.O.S Bulgaria.</a>
  </div>
</footer>