<section class="payment">
  <div class="payment__container">
    <h2 class="payment__title">Детайли за плащане:</h2>
    <form class="payment__form">
      <div class="payment__form-group">
        <label for="name">Имена:</label>
        <input type="text" id="name" name="name" placeholder="Моля попълнете имена" required>
      </div>
      <div class="payment__form-group">
        <label for="email">Ймеил:</label>
        <input type="email" id="email" name="email" placeholder="Моля попълнете имейл" required>
      </div>
      <div class="payment__form-group">
        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="phone" placeholder="Моля попълнете телефон" required>
      </div>
      <div class="payment__form-group">
        <label for="card">Номер на карта:</label>
        <input type="text" id="card" name="card" placeholder="Enter your card number" disabled>
      </div>
      <div class="payment__form-group payment__form-group--row">
        <div>
          <label for="expiry">Валидна до:</label>
          <input type="text" id="expiry" name="expiry" placeholder="MM/YY" disabled>
        </div>
        <div>
          <label for="cvv">CVV</label>
          <input type="text" id="cvv" name="cvv" placeholder="Enter CVV" disabled>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <h6 class="pe-3"><%- price %>лв.</h6>
      </div>
      <button class="payment__button" id="payment__button" type="submit">Плати</button>
    </form>
  </div>
</section>