<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/contact-style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/9d6133daeb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>SOS Bulgaria</title>
  </head>

  <body>
    <nav
      class="navbar navbar navbar-dark navbar-expand-lg"
      style="background-color: #000000"
    >
      <div class="container">
        <div class="navbar-brand nav-logo">
          <img
            class="rounded"
            src="./img/logo.jpg"
            width="auto"
            height="50px"
          />
          <div class="nav-contacts">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-phone"></i>
              <p>0899 / 773 232</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-phone"></i>
              <p>022 / 23 232</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-envelope"></i>
              <p>sos@bulgaria.bg</p>
            </div>
          </div>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if(adminPanel===1) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin-panel">Управление на сайта</a>
            </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Начало</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manage-booking"
                >Управление на поръчка</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact">Контакти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">За нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/<%= link %>"> <%= text %> </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 background-top">
          <div class="center-transition">
            <h1 class="text-center pt-2 pt-md-4" style="font-weight: 1000">
              Свържете се с нас
            </h1>
            <p class="text-center">
              Искате да се свържете с нас? Ще се радваме да Ви помогнем. Тук
              можете да го направите:
            </p>
          </div>
        </div>
        <div
          class="col-12 d-flex justify-content-center position-relative relative-support"
        >
          <div
            class="absolute-support d-flex flex-column flex-md-row justify-content-center gap-5"
          >
            <div class="box-live shadow">
              <i class="fa-solid fa-phone"></i>
              <h4>Обади ни се</h4>
              <p class="text-center">
                Нашите оператори са 24/7 на линия за да Ви помогнат.
              </p>
              <a href="#">+459 213 98 231</a>
              <a href="#">всички номер ></a>
            </div>
            <div class="box-live shadow">
              <i class="fa-solid fa-comment"></i>
              <h4>Онлайн чат</h4>
              <p class="text-center">
                Можете да се свържете директно чрез нашия онлйан чат
              </p>
              <button class="btn bg-danger">започни нов чат</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto" style="max-width: 1300px">
        <div class="col-md-6 d-flex ali">
          <div class="row">
            <div class="col-12">
              <h2 class="opacity-animation-text" style="font-weight: 700;">
                Оставете съобшение
              </h2>
              <div class="col-12">
                <p class="opacity-animation-text">
                  Можете да ни оставите съобшение и ние ще се свържем с вас в
                  най кратък срок. Моля, използвайте полетата по-долу, за да
                  напишете съобщението си. За да гарантираме отговор, моля,
                  предоставете ни достатъчно информация. Ние ще се постараем да
                  отговорим възможно най-скоро.
                </p>
                <h1
                  class="fst-italic opacity-animation-text "
                  style="color: #db6e08"
                >
                  0899 / 987 567
                </h1>
                <h1
                  class="fst-italic opacity-animation-text"
                  style="color: #db6e08"
                >
                  sos@bulgaria.bg
                </h1>
                <p class="opacity-animation-text">
                  жк.Жкалов ул.Улица бл.7 вх.1 Но.766 гр.Варна, България
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 opacity-animation-text">
              <div class="rounded shadow-lg bg-white w-100 h-100">
                <form class="py-2 pt-4 pb-2 d-flex flex-column justify-content-between">
                  <div class="form-input d-grid text-dark gap-4">
                    <div class="d-flex flex-column">
                      <label class="form-label" for="name-c">Имена:</label>
                      <input
                        id="name-c"
                        name="name-c"
                        type="text"
                        placeholder="Моля напишете вашето име..."
                      />
                    </div>
                    <div class="d-flex flex-column">
                      <label class="form-label" for="phone-c">Телефон:</label>
                      <input
                        id="phone-c"
                        name="phone-c"
                        type="text"
                        placeholder="Моля напишете вашият телефон..."
                      />
                    </div>
                    <div class="d-flex flex-column">
                      <label class="form-label" for="email-c">Ймеил:</label>
                      <input
                        id="email-c"
                        name="email-c"
                        type="email"
                        placeholder="Моля напишете вашият имейл..."
                      />
                    </div>
                    <div style="position: relative">
                      <label class="form-label" for="message-c">Съобшение:</label>
                      <textarea
                        maxlength="250"
                        placeholder="Моля напишете вашето съобшение..."
                        id="message-c"
                      ></textarea>
                      <span class="msg-lenght">
                        <p id="msg-counter">0</p>
                        /250
                      </span>
                    </div>
                  </div>
                  <button id="btn-c" type="submit">Изпрати</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('layouts/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="js/contact.js"></script>
  </body>
</html>
