<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="/" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/home-style.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpxLRasLf5ZB87RMgeTxOfpd50bfzYrtE&libraries=places"></script>
  <script src="https://kit.fontawesome.com/9d6133daeb.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <title>SOS Bulgaria</title>
</head>

<body>
  <nav class="navbar navbar navbar-dark navbar-expand-lg" style="background-color: #000000">
    <div class="container">
      <div class="navbar-brand nav-logo">
        <img class="rounded" src="./img/logo.jpg" width="auto" height="50px" />
        <div class="nav-contacts">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <p>0899 / 773 232</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-phone"></i>
            <p>022 / 23 232</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <p>sos@bulgaria.bg</p>
          </div>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <% if(adminPanel===1) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin-panel">Управление на сайта</a>
            </li>
            <% } %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Начало</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/manage-booking">Управление на поръчка</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Контакти</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">За нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/<%= link %>">
                  <%= text %>
                </a>
              </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="container-fluid py-5 main-section">
    <div class="opacity-background">
      <h2 class="mb-0 mb-lg-3 text-center response-text-header">S.O.S България</h2>
      <h6 class="text-center mb-3 mb-lg-0 response-text-header head-title-text_color_support">
        Предоставя най-евтини, най-бързи и професионални услуги за
        транспортиране на автомобили при пътна авария.
      </h6>
      <div id="main-booking-section"
        class="container w-100 d-flex align-items-center justify-content-center flex-column flex-md-row">
          <div class="booking-form__container p-4">
            <h2 class="booking-form__title">НАПРАВИ ЗАПИТВАНЕ</h2>
            <form id="form-quote" class="booking-form__form">
              <fieldset class="booking-form__fieldset">
                <div id="map-container" style="display: none;">
                  <div class="booking-form__form-group">
                    <label for="address-input">Адрес:</label>
                    <input type="text" class="form-control" id="address-input" name="address" placeholder="Въведете адрес" />
                  </div>
                  <div id="map"></div>
                  <button class="booking-form__button" id="select-adress">Изберете</button>
                </div>
                <div id="map-toggler">
                  <div class="booking-form__form-group">
                    <label for="make-booking">Марка:</label>
                    <input class="form-control" id="make-booking" name="makeBooking" required/>
                  </div>
                  <div class="booking-form__form-group">
                    <label for="model-booking">Модел:</label>
                    <input class="form-control" id="model-booking" name="modelBooking" required/>
                  </div>
                  <div class="booking-form__form-group">
                    <label for="service-type">Вид Услуга:</label>
                    <select class="form-control" id="service-type" name="serviceType">
                      <option value="closed-service">Най-близкият сервиз</option>
                      <option value="a-b">A-B</option>
                      <option value="battery-only">Подаване на ток</option>
                      <option value="delivery-service">Доставка на масло, части или други</option>
                    </select>
                  </div>
                  <div class="booking-form__form-group">
                    <label for="address-pick">Точка на вземане:</label>
                    <input class='disabled-input no-shadow' type='text' value='Моля изберете адрес.' id='address-pick' name="addressPick"  disabled />
                    <br>
                    <button id="open-map-button" class="booking-form__button">Карта</button>
                  </div>
                  <div class="booking-form__form-group" id="drop-off-section">
                    <label for="address-drop">Точка на оставяне:</label>
                    <input class='disabled-input no-shadow' type="text" value='Моля изберете адрес.' id="address-drop" name="addressDrop"  disabled />
                    <br>
                    <button id="open-map-button-drop" class="booking-form__button">Карта</button>
                  </div>
                  <button id="get-quote-btn" type="submit" class="booking-form__button">ПРОВЕРИ ЦЕНА</button>
                </div>
              </fieldset>
            </form>
          
        </div>
        <div class="options-service w-100 d-flex flex-column
      justify-content-center align-items-center">
          <h5 class="text-center response-text-header">
            Може да направите запитване онлайн чрез нашия уебсайт или да се свържете с нас по телефона. Нашите
            оператори
            ще бъдат
            на разположение, за да ви предоставят необходимата помощ при избора на подходящата услуга и да ви
            предоставят
            информация относно цените и условията на услугата.</h5>
          <ul>
            <li>
              <p>Във всяка точна на страната</p>
            </li>
            <li>
              <p>24/7 часово обслужване</p>
            </li>
            <li>
              <p>Най-ниски цени</p>
            </li>
            <li>
              <p>Обслужване до 30 минути</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5">
    <div class="container mt-0 mt-md-5 how-we-section">
      <h1 class="text-center font-weight-bold mb-3 mt-lg-5 opacity-animation-text">КАК РАБОТИМ</h1>
      <div class="row">
        <div class="col-11 col-lg-12">
          <div class="row gap-4 gap-sm-0 mobile-strech">
            <div class="col-12 col-sm-6 col-lg-3 mobile-strech">
              <div class="col-12 shadow border d-flex
        align-items-center justify-content-center flex-column container-how-small">
                <div class="icon-how-we mb-2 mt-3"><i class="fa-solid fa-quote-left"></i></div>
                <h5><b>Направи Запитване</b></h5>
                <p class="text-center">Моля, свържете се с нас, за да направите вашата заявка за оферта.</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mobile-strech">
              <div class="col-12 shadow border d-flex
        align-items-center justify-content-center flex-column container-how-small">
                <div class="icon-how-we mb-2 mt-3"><i class="fa-solid fa-calendar-check"></i></div>
                <h5><b>Потвърди Заявка</b></h5>
                <p class="text-center ms-1 me-1">Вашата заявка ще бъде потвърдена от нашия екип в рамките на по-малко от
                  1 минута.</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mobile-strech mt-custom ">
              <div class="col-12 shadow border d-flex
        align-items-center justify-content-center flex-column container-how-small">
                <div class="icon-how-we mb-2 mt-3"><i class="fa-solid fa-clipboard"></i></div>
                <h5><b>Управлявай на Живо</b></h5>
                <p class="text-center">Управлявайте вашата поръчка онлайн с възможност за отказ, ако е необходимо.</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mobile-strech mt-custom">
              <div class="col-12 shadow border d-flex
        align-items-center justify-content-center flex-column container-how-small">
                <div class="icon-how-we mb-2 mt-3"><i class="fa-solid fa-handshake"></i></div>
                <h5><b>Остани Доволен</b></h5>
                <p class="text-center">Получете професионално и качествено обслужване, което да отговаря на вашите
                  нужди.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 col-lg-12 navigator-quote mt-4 mb-4 mb-lg-0 mobile-strech
         d-flex align-items-center justify-content-center flex-column flex-lg-row">
          <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center
           h-100 w-100 gap-2">
            <div class="step-round">
              <h2>1</h2>
            </div>
            <div class="line"></div>
            <div class="step-round">
              <h2>2</h2>
            </div>
            <div class="line"></div>
            <div class="step-round">
              <h2>3</h2>
            </div>
            <div class="line"></div>
            <div class="step-round">
              <h2>4</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4 mt-md-5 why-us-section">
      <h1 class="text-center font-weight-bold mb-2 mb-lg-5 opacity-animation-text">ЗАЩО <b style="color: #db6e08;">НАС
        </b></h1>
      <div class="row align-items-center">
        <div class="col-lg-6 container-img-6">
          <img class="shadow img-set-why" src="./img/recovery-truck-1.jpg" />
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-start 
        align-items-md-center justify-content-center">
          <h1 class="pt-2 pt-md-0 underline-why">ПРЕДИМСТВА</h1>
          <ul class="mt-4 list-unstyled predimstva-ul">
            <li>
              <div>
                <h5 class="arrow-predimstva">Ефективност</h5>
                <p>Разбираме важността на предоставянето на надеждно и ценово ефективно решение за нашите клиенти,
                  поради което предлагаме конкурентни цени и гъвкави опции за услуги, за да отговорим на вашите
                  индивидуални нужди. Така че защо да чакате? Свържете се с нас днес, за да изживеете разликата, която
                  нашата креативна технология и изключително обслужване могат да направят за вас и вашия автомобил.</p>
              </div>
            </li>
            <li>
              <div>
                <h5 class="arrow-predimstva">Ремонт на автомобили на пътя</h5>
                <p>Ние предоставяме услуги за ремонт на автомобили на пътя. Независимо от мястото и времето на проблема,
                  ние сме на разположение за да Ви помогнем. Нашите професионални механици ще се погрижат за бързия и
                  ефективен ремонт на Вашето автомобилно превозно средство. Благодарение на нашата бърза реакция, Вие ще
                  можете да продължите пътуването си без излишни загуби от време. Ние гарантираме качествено изпълнение
                  на всички услуги и ще се постараем да осигурим Вашата пълна удовлетвореност.</p>
              </div>
            </li>
            <li>
              <div>
                <h5 class="arrow-predimstva">Репатриране / Транспорт на МПС</h5>
                <p>Сигурно и бързо транспортиране на автомобили до сервиз или друго място по желание на клиента. </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 d-flex flex-column align-items-start 
        align-items-md-center justify-content-center order-2 order-md-1">
          <h1 class="pt-2 pt-md-0 underline-why">ЕКИП И ОБСТАНОВКА</h1>
          <ul class="mt-4 list-unstyled predimstva-ul">
            <li>
              <div>
                <h5 class="arrow-predimstva">Транспорт и оборудване</h5>
                <p>Ние разполагаме със специализиран транспорт и оборудване, което ни позволява да обслужваме както
                  леки, така и тежкотоварни превозни средства. Нашата мисия е да предоставим на клиентите си безопасно и
                  професионално обслужване по всяко време на денонощието.</p>
              </div>
            </li>
            <li>
              <div>
                <h5 class="arrow-predimstva">Екип</h5>
                <p>Ние работим с клиенти от различни сфери на дейността - от частни лица до фирми и институции. С нашият
                  богат опит и професионално отношение, гарантираме, че автомобилът ви ще бъде транспортиран или
                  ремонтиран
                  бързо и ефективно.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6 container-img-6 order-1 order-md-2">
          <img class="shadow img-set-why" src="./img/recovery-truck-2.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-5 main-color-web">
    <div class="container">
      <h1 class="text-center font-weight-bold opacity-animation-text">УПРАВЛЕНИЕ НА ПОРЪЧКА</h1>
      <p class="text-center opacity-animation-text">Предоставяме услуга за намиране и управление на поръчки чрез
        въвеждане на имейл адрес и номер на резервацията. С нас можете лесно да проследите вашата резервация и да я
        управлявате, където и да се намирате.</p>
      <div class="col-md-6 mx-auto my-3 opacity-animation-text">
        <div class="col p-4 border main-color-web">
          <h1 class="text-center">Намери поръчка</h1>
          <form class="form-group" id="find-booking-index-form">
            <input type="text" class="form-control" placeholder="Номер на поръчка">
            <input type="text" class="form-control mt-2" placeholder="Имейл">
            <button type="submit" class="d-flex btn mx-auto px-4 mt-4" style="background-color: #fff;">Намери</button>
          </form>
        </div>
      </div>
    </div>
    <p class="text-center web-xs-small-font mt-2 pb-4 opacity-animation-text">Управлявай лесно, бързо и удобно !</p>
  </div>

  <div class="container-fluid py-5 mb-2 mb-lr-5">
    <div class="container">
      <h2 class="mb-3 text-center response-text-header opacity-animation-text">СВЪРЖИ СЕ С НАС</h2>

      <div class="row">
        <div class="col-md-6 d-flex ali">
          <div class="row">
            <div class="col-12">
              <h2 class="font-weight-bold opacity-animation-text">За връзка с нас</h2>
              <div class="col-12">
                <p class="opacity-animation-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                  illum ab culpa odio alias minus est quos, maxime consequatur dicta iure voluptate. Veritatis officiis
                  ipsa corporis, saepe quisquam minus accusantium?</p>
                <h1 class="font-weight-bold opacity-animation-text" style="color: #db6e08">0899 / 987 567</h1>
                <h1 class="font-weight-bold opacity-animation-text" style="color: #db6e08">sos@bulgaria.bg</h1>
                <p class="opacity-animation-text">жк.Жкалов ул.Улица бл.7 вх.1 Но.766 гр.Варна, България</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12 opacity-animation-text">
              <div class="rounded shadow-lg bg-white w-100 h-100">
                <form class="d-flex gap-3 flex-column justify-content-between p-3 opacity-animation-text"
                  id="form-contact-index">
                  <div class="d-flex">
                    <label class="form-label" for="name-ih">Име:</label>
                    <input id="name-ih" name="name-ih" type="text" class="w-100"
                      placeholder="Моля напишете вашето име..." />
                  </div>
                  <div class="d-flex">
                    <label class="form-label" for="email-ih">Ймеил:</label>
                    <input id="email-ih" name="email-ih" type="email" class="w-100"
                      placeholder="Моля напишете вашия ймеил..." />
                  </div>
                  <div class="d-flex">
                    <label class="form-label" for="phone-ih">Телефон:</label>
                    <input id="phone-ih" name="phone-ih" type="text" class="w-100"
                      placeholder="Моля напишият телефонен номер..." />
                  </div>
                  <div style="position: relative; ">
                    <label class="form-label" for="message-ih">Съобшение:</label><br>
                    <textarea id="message-ih" name="message-ih" style="resize:none;" maxlength="250"
                      placeholder="Моля напишете вашето питане..."></textarea>
                    <span class="d-flex position-absolute" id="msg-counter">
                      <p><span>0</span>/250</p>
                    </span>
                  </div>
                  <button class="btn" type="submit">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('layouts/footer') %>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
    <script src="js/javascript.js"></script>
    <script src="js/booking-controllers/map-controller.js"></script>
    <script src="js/booking-controllers/type-controller.js"></script>
</body>

</html>