.icon-admin {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    background-image: url('../avatar.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.menu-panel {
    padding-left: 0;
    height: 800px;
    background-color: rgb(232, 232, 232);
}

.menu-panel ul li {
    cursor: pointer;
    font-weight: 800;
}

.all-user-sort {
}

.all-user-sort h5 {
    cursor: pointer;
    font-size: 14px;
}
.box-user-title {
    width: 108px;
}
.box-user {
    width: 108px;
}
.user-fill {
    width: 88px;
    overflow: hidden;
}
.user-fill h5 {
    font-size: 12px;
}
.filter-js {
   position: relative;
}

.filter-js::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgb(182, 118, 0);
    position: absolute;
    left: 0;
    bottom: -4px;
    z-index: 99;
    transition: width 0.3s ease;
  }
  
 .filter-js.active-user-filter::after {
    width: 90px;
  }