.main-section {
  background: url('../img/background.jpg') no-repeat center !important;
  background-size: cover !important;
  overflow: hidden;
  height: auto;
  position: relative;
  z-index: 1;
}

.opacity-background {
  position: relative;
}

.quote-class {
  position: relative;
  z-index: 99;
  width: 50%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 2.5px solid var(--web-main-color);
}

.opacity-background::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 110%;
  z-index: 2;
  background: #fff;
  opacity: 0.3;
}

#main-booking-section {
  margin: 20px auto;
  position: relative;
  z-index: 99;
}

/* //////////////////FORM HOME MAIN  */

.booking-form__container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border: 2.5px solid var(--web-main-color);
}

.booking-form__title {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.booking-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.booking-form__form-group {
  margin-bottom: 10px;
}

.booking-form__form-group label {
  display: block;
  margin-bottom: 3x;
}

.booking-form__form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.no-shadow {
  box-shadow: none !important;
}
.booking-form__form-group--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-form__form-group--row div {
  width: 45%;
}

.booking-form__button,.btn__pay-type,.payment__button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--web-main-color);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.booking-form__button:hover,.btn__pay-type:hover,.payment__button:hover {
  background-color: #a97e07da;
}

#map {
  height: 400px;
}

.main-color-web {
  background-color: var(--web-main-color) !important;
}

.main-section>h2,
.head-title-text {
  z-index: 99;
  position: relative;
  margin-top: -15px;
  font-size: 44px;
  font-weight: 800;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
  color: var(--web-main-color);
}

.options-service {
  margin-top: 20px;
}

.options-service ul {
  margin-bottom: 0 !important;
}

.options-service ul li {
  position: relative;
  list-style: none;
}


.options-service ul li::before {
  position: absolute;
  content: "";
  left: -35px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/arrowright.png") no-repeat center center !important;
  background-size: cover !important;
  margin-right: 25px;
}

.options-service p,
.head-title-text_color_support {
  position: relative;
  z-index: 98;
  color: #000;
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.disabled-input {
  border: none;
  background-color: inherit;
}

/* PAYMENT SECTION */
.payment {
  background-color: #f2f2f2;
  padding: 50px 20px;
}

.payment__container {
  max-width: 1200px;
  margin: 0 auto;
}

.payment__title {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}

.payment__form {
  display: flex;
  flex-direction: column;
}

.payment__form-group {
  margin-bottom: 10px;
}

.payment__form-group label {
  display: block;
  margin-bottom: 3x;
}

.payment__form-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.payment__form-group--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment__form-group--row div {
  width: 45%;
}

@media only screen and (max-width: 1000px) {

  .quote-class {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .booking-form__container{
    width: 105%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .opacity-background::before {
    width: 100%;
  }

  .booking-form fieldset {
    width: 100%;
  }

  .main-section {
    height: auto;
  }

  .options-service {
    margin-bottom: -50px;
  }
}

/* How We Work Section */
.opacity-animation-text {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.opacity-show {
  opacity: 1 !important;
}

.container-how-small {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  width: auto;
  height: 250px;
}

.icon-how-we {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: var(--web-main-color);
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 31px;
}

.how-we-section p {
  font-size: 15px;
}

.navigator-quote {
  width: 100%;
  position: relative;
  height: 100%;
}

.line {
  width: 20%;
  height: 0;
  border-top: 5px dotted var(--web-main-color);
  ;
  position: relative;
}

.step-round {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
  cursor: pointer;
}

.step-round h2 {
  margin-bottom: 0 !important;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.container-img-6 {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-set-why {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  height: 74%;
  width: 88%;
}

.underline-why {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  position: relative;
  width: auto;
}

.underline-why::before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 8px;
  border-bottom-right-radius: 100%;
  background-color: var(--web-main-color);
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .mobile-strech {
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .container-img-6 {
    height: 250px;
  }

  .img-set-why {
    height: 90%;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {

  .line {
    width: 0;
    height: 60px;
    border-top: none;
    border-left: 5px dotted var(--web-main-color);
  }
}

@media screen and (min-width: 575px) and (max-width: 1000px) {
  .mt-custom {
    margin-top: 20px !important;
  }

  .navigator-quote {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 575px) {
  .container-how-small {
    height: 220px
  }

  .navigator-quote {
    padding-top: 65px;
  }

  .line {
    width: 0;
    height: 180px;
    border-top: none;
    border-left: 5px dotted var(--web-main-color);
  }
}

.predimstva-ul li {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
}

.slide-in-p-li {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.predimstva-ul p {
  font-size: 14px;
}

.arrow-predimstva {
  position: relative;
  margin-left: 35px;
}

.arrow-predimstva:before {
  position: absolute;
  content: "";
  left: -35px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../img/png.png") no-repeat center center !important;
  background-size: cover !important;
  margin-right: 25px;
}

.orange-test {
  background-color: #db6e08;
}

@media only screen and (max-width: 475px) {
  .container-img-6 {
    height: 200px;
  }

  .img-set-why {
    height: 77%;
    width: 100%;
  }
}

/* Contact From */
#message-ih {
  width: 100%;
  height: 250px;
}

#msg-counter {
  right: 10px;
  bottom: -2px;
  font-size: 10px;
}

#form-contact-index label {
  margin-bottom: 0 !important;
}

#name-ih,
#email-ih,
#phone-ih {
  padding-left: 10px;
}

#form-contact-index input,
#form-contact-index textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.74);
}

#form-contact-index button {
  background-color: var(--web-main-color);
  border: none;
  width: 94%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 auto;
}

.slide-to-right {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
  position: relative;
}