@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Raleway:wght@700&display=swap");

/* @import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api"; */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
}

:root {
  --web-main-color: #db6e08;
}
.displayNone {
  display: none;
}

.web-large-font {
  position: relative;
  z-index: 98;
  color: #000;
  font-size: 44px;
  font-weight: 800;
}
.web-small-font {
  position: relative;
  z-index: 98;
  color: #000;
  font-size: 17px;
}
.web-xs-small-font {
  position: relative;
  z-index: 98;
  color: #414141;
  font-weight: 400;
  font-size: 13px;
}
.web-main-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--web-main-color);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-control:focus,
*:focus {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#navbarSupportedContent {
  margin-right: 34px;
}

.nav-link {
  color: white;
}

.nav-logo {
  display: flex;
  gap:10px;
  align-items: center;
  position: relative;
  text-align: center;
  height: 58px;
  left: -22px;
  margin-left: 25px;
  cursor: pointer;
}
.nav-contacts i {
  font-size: 12px;
  color: #db6e08;
  padding-right: 8px;
}
.nav-contacts p {
  text-align: left;
  font-size: 12px;
  font-weight: 1000;
  color: #db6e08;
  margin-bottom: 0 !important;
}

.logo-footer-div {
  cursor: pointer;
}

.logo-footer-div img {
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background-color: rgba(15, 15, 15, 0.483);
}

@media (max-width: 767px) {

  .logo-footer-div {
    left: 0;
    margin-left: 0px;
    margin: -70px auto 0px auto;
  }
}

@media (max-width: 575px) {
  
  
}
